/*
.MySelect {
  width: 157px;
  height: 50px;

  .css-yk16xz-control {
    width: 157px;
    height: 50px;
    border-radius: 0;
    border: 1px solid #000000;
    background: transparent;

    .css-6q0nyr-Svg {
      fill: black
    }

    .css-1okebmr-indicatorSeparator {
      display: none;
    }
  }
}*/
